.buttons-group{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Calibri;

    font-size: 20px;
  
    font-weight: normal;
  
    font-style: normal;
  
    font-stretch: normal;
  
    line-height: normal;
  
    letter-spacing: normal;
  
    text-align: left;
  
    color: #242424;
}

.primary-button {
    background-color: #2a6f9e;
    border: none;
    text-align: center;
    height: 46px;
    color: #f0f0f0;
    display: flex;
    align-items:center;
}

.icon-back{
    font-size: 20px;
    transform: rotate(-10deg);
    margin-right: 6px;
    color: #f0f0f0;
}


.secondary-button {
    background-color: #cccccc;
    border: none;
    text-align: center;
    height: 46px;
}

.auxiliary-button {
    background-color: white;
    border: none;
    text-align: center;
    height: 46px;
}

.buttons-group .primary-button:hover {
    background-color: #063a9b;
    transition: 0.5s ease-in-out;
}

.buttons-group .secondary-button:hover {
    background-color: #555c55;
    transition: 0.5s ease-in-out;
    color:white;
}

.buttons-group .auxiliary-button:hover {
    background-color: black;
    transition: 0.5s ease-in-out;
    color:white;
}