.buttons-group button {
    font-size: 1.2rem;
    font-family: 'Calibri', sans-serif;
    height: 3rem;
    line-height: 3rem;
    display: inline-block;
    padding: 0 1rem;
    margin-left: 1rem;
    cursor: pointer;
    transition: All .2s ease;
    outline: none
}

.buttons-group button .button-icon{
    font-size: 1rem;
    margin-right: .3rem;
}

.buttons-group button:first-child {
    margin-left: 0;
}

.buttons-group button:last-child{
    padding: 0;
}

.primary-button {
    background-color: #2a6f9e;
    border: 1px solid #2a6f9e;
    color: #f0f0f0;
}

.primary-button:hover{
    background: transparent;
    color: #2a6f9e;
}

.secondary-button {
    background-color: #cccccc;
    color: #242424;
    border: 1px solid #cccccc;
}

.secondary-button:hover{
    background: transparent;
}

.auxiliary-button {
    background-color: transparent;
    border: none;
    color: #242424;
}

.auxiliary-button:hover{
    text-decoration: underline;
}
