body {
    background-color: #f6f6f6;
}

.image-upload-screen-container {
    display: flex;
    flex-direction: row;
    height: 95%;
    width: 95%;
    margin: 0 auto;
    padding-top: 80px;
}
    
.image-upload-screen-container .about-app-container {
    height: 100%;
    width: 100%;
}

.image-upload-screen-container .about-app-container .App-logo {
    height: 13vmin;
    width: 90%;
}

.image-upload-screen-container .about-app-container .about-app {
    margin: 50px;
}

.image-upload-screen-container .about-app-container .about-app h2 {
    color: #2a6f9e;
    font-size: 32px;
}

.image-upload-screen-container .about-app-container .about-app .how-to-container {
    font-size: 18px;
    text-align: left;
    width: 90%;
}

.image-upload-screen-container .about-app-container .about-app .how-to-container h3 {
    font-size: 24px;
    margin-top: 30px;
}

.image-upload-screen-container .image-uploader-container {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
}

.image-upload-screen-container .image-uploader-container .image-uploader {
    margin: 0 auto;
    width: 100%;
}


