.s-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    background: #f6f6f6;
    width: 100%;
    height: 100%;
}

.s-content-wrapper {
    width: 100%;
    max-width: 1024px;
    padding: 2rem 1rem;
    margin: 0 auto;
    display: flex;
}

.s-left-column {
    width: 50%;
    padding: 1rem;
    display: flex;
}

.s-right-column {
    width: 50%;
    padding: 1rem;
}

.s-image-preview {
    position: relative;
    flex-grow: 1;
}

.s-slider-control-container {
    display: flex;
}

.s-slider-control-container .slider-control-container {
    margin-left: 1rem;
}

.s-slider-control-container .slider-control-container:first-child {
    margin-left: 0;
}

.s-right-column {
    display: flex;
}